# XMITM configuration

# The base URL of the 9Router backend server that this MITM proxy should forward requests to.
MITM_ROUTER_BASE=http://localhost:20128

# The authorization API Key to authenticate requests with 9Router.
ROUTER_API_KEY=your_router_api_key_here
